:root {
  color-scheme: dark;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 60px;
}
body {
  margin: 0;
  font-family: sans-serif;
}

button {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  padding: 0;
  border-radius: 0;
}
button:not(:disabled) {
  cursor: pointer;
}

.navbar {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid color-mix(in srgb, currentColor 20%, transparent);
  box-sizing: border-box;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: Canvas;
}

.navbar button {
  margin-right: 8px;
  padding: 4px 0;
  width: 40px;
  border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
  background: Canvas;
  border-radius: 4px;
}

.navbar button:disabled {
  background: color-mix(in srgb, currentColor 10%, transparent);
}

.navbar select {
  width: 0;
  flex: auto;
}

.grid-view {
  display: grid;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  position: relative;
}

.thumbnail img {
  width: 0;
  flex: auto;
  object-fit: cover;
}

.tagdots {
  display: flex;
  gap: 5px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: end;
  box-sizing: border-box;
}
.tagdot {
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.list-view {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-item {
  flex: none;
  display: flex;
  border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
  border-radius: 4px;
  padding: 8px;
}

.list-item-thumbnail {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-right: 16px;
}

.list-item-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.list-item-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-item-filename {
  display: flex;
  align-items: start;
  gap: 8px;
  font-weight: bold;
}

.list-item-filename button {
  padding: 2px 4px;
  font-weight: normal;
}

.time {
  color: color-mix(in srgb, currentColor 80%, transparent);
  font-size: 0.8em;
}

.deletebtn {
  color: red;
  padding: 0 4px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  display: flex;
  background-color: color-mix(in srgb, currentColor 5%, transparent);
  padding-left: 6px;
  border-radius: 4px;
  font-size: 12px;
  align-items: center;
  gap: 5px;
}
.tag button {
  width: 16px;
  height: 16px;
  border-left: 1px solid color-mix(in srgb, currentColor 5%, transparent);
}
.add-tag {
  padding-right: 6px;
}
[data-tag="delete"] {
  background-color: oklch(63.7% 0.237 25.331);
}
[data-tag="youtube"] {
  background-color: oklch(62.3% 0.214 259.815);
}

.tags form {
  flex: auto;
  display: flex;
}
.tags form input {
  flex: auto;
  width: 20px;
}
.tags form button {
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: color-mix(in srgb, currentColor 20%, transparent);
  border-radius: 50%;
}

.list-item-note input {
  margin-right: 8px;
}

.feed-view {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 8px;
}

.feed-item {
  position: relative;
  height: calc(100svh - 60px);
  overflow: hidden;
  scroll-snap-align: start;
  box-sizing: border-box;
  /* for android home button */
  padding-bottom: 20px;
}

.feed-video {
  width: 100%;
  height: 100%;
}

.modal {
  border: none;
  padding: 0;
  color: inherit;
  max-width: unset;
  max-height: unset;
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  /* for android home button */
  padding-bottom: 20px;
  box-sizing: border-box;
}
.modal[open] {
  visibility: visible;
  opacity: 1;
  pointer-events: unset;
  user-select: text;
}
.modal::backdrop {
  background: none;
}

.modal .topbar {
  flex: none;
  display: flex;
  height: 60px;
  align-items: center;
}
.modal .tags {
  flex: auto;
  padding-left: 20px;
}
.closebtnform {
  margin-left: auto;
}
.modal .topbar .closebtn {
  width: 60px;
  height: 60px;
}
.modal video {
  height: 0;
  flex: auto;
  transform: scale(0.9);
  transition: transform 0.2s;
}
.modal[open] video {
  transform: scale(1);
}

.tagswraper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 1;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.3),
    transparent
  );
}

.grid-view-navbar {
  top: 60px;
}
